@import 'tailwindcss';

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* PartnersLogoCarousel скрыть scrollbar но оставить возможность скролла */
.inline-flex::-webkit-scrollbar {
  display: none;
}
.inline-flex {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaflet-bottom {
  display: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Мобильные устройства (до 767px) */
@media (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* Планшеты (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Десктопы (1024px и выше) */
@media (min-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.btn_filled {
  @apply py-3 rounded-full bg-white text-[#081B24];
}

.btn_outline {
  @apply border border-[#ffffffbc] py-3 rounded-full text-white;
}

